@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
   /*border: 1px solid rgb(43, 0, 255);*/
.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
main{
    margin: 0 auto;
}
.menu-btn ,
.menu-line{
    display: none; /* Default: hidden on big screens */
}
/*shared style*/

.btn-primary{
    border-radius: 12px;
    background: rgb(254, 163, 1);
    border: none;
    padding: 14px 50px;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.15rem;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.display-flex{
    display: flex;
}
.orange{
    color: rgb(254, 163, 1);
    font-weight: 700;
 
}
.footer-sec{
    background-color:rgb(1, 172, 253);;
}

.blue{
    color: rgb(1, 172, 253);
    font-weight: 500;
  
}
.facilities{
    color: rgb(5, 212, 223);
    font-weight: 500;
    
}
.admission{
    color: rgb(93, 88, 239);
    font-weight: 500;
 
}
.black{
    background-color: rgb(17, 17, 17);
}
/*navbar styles*/
.top{
    margin-bottom: 60px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 0 80px;
    padding: 0 35px;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    font-family: Quicksand;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.logo{
    gap: 10px;
    align-items: center;
}
.img-icon{
    width: 62px;
    height: 62px;
}
.brand{
color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 32px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
/*Banner Section*/
.banner{
    max-width: 1460px;
    margin: 0 auto;

    justify-content: space-around;
}
.banner-content{
    margin-top: 100px;
    align-items: center;
    width: 40rem;
    height: 20.6875rem;
  
    
}
.banner-head{
    font-family: Quicksand;
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
    width: 35rem;
    height: 11.4375rem;
    
}
.banner-p{
    width: 40rem;
    height: 3.125rem;

    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}

/*standard-curriculam*/
.standard-curriculam{
    background: url('../assets/bg.png') no-repeat center center fixed;
    background-size: cover;
    margin-top: 60px;
   
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 25px; 
    padding-bottom: 80px;

}
.curriculam-title{
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 2.875rem;
    font-weight: 700;
    line-height: 3.6rem;
    letter-spacing: 0%;
    text-align: center;
}
.curriculam-cards{
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem; 
    gap: 0.625rem;
    padding: 0px 23px;
    height: auto;
  
}
.curriculam-card{
    width: 22.99rem;
    height: auto;
    
    box-sizing: border-box;
    border-radius: 1.18rem;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px 28px 36px 28px;
}
.curriculam-img{
    align-items: center;
    max-width: 100%;
    height: auto;
}
.curriculam-head{
    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.9rem;
    letter-spacing: 0%;
    text-align: center;
}

.curriculam-p{
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 0.94rem;
    font-weight: 500;
    line-height: 1.76rem;
    letter-spacing: 0%;
    text-align: center;
}
.c1{
    border: 0.94px solid rgb(222, 245, 255);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.c2{
    border: 0.94px solid rgb(255, 244, 220);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.c3{
  
    border: 0.94px solid rgb(242, 232, 255);

    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

#text1{
    color: rgb(100, 200, 255);
    font-family: Quicksand;
    font-size: 0.94rem;
    font-weight: 700;
    line-height: 1.76rem;
    letter-spacing: 0%;
    text-align: center;
}
#text2{
    color: rgb(240, 170, 0);
    font-family: Quicksand;
    font-size: 0.94rem;
    font-weight: 700;
    line-height: 1.76rem;
    letter-spacing: 0%;
    text-align: center;
}
#text3{
    color: rgb(135, 0, 255);
    font-family: Quicksand;
    font-size: 0.94rem;
    font-weight: 700;
    line-height: 1.76rem;
    letter-spacing: 0%;
    text-align: center;
}

.arrow{
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
}
.arrow-left{

    background-image: url('../assets/Button\ -\ Previous\ slide.png');
    background-size: cover;  /* Ensures the image covers the entire button */
    background-position: center;
    border: none;
    text-align: center;
    border-radius: 30px;
    position: relative;
    width: 60px;
    height: 60px;
}
.arrow-right{
    background-image: url('../assets/Button\ -\ Next\ slide.png');
    background-size: cover;  /* Ensures the image covers the entire button */
    background-position: center;
    border: none;
    text-align: center;
    border-radius: 30px;
    position: relative;
    width: 60px;
    height: 60px;
}
/*Storie container*/
.stories{
    /*background: url('/assets/bg.png'),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);*/
    background: url('../assets/bg.png'), 
linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3));
    max-width: 100%;
    padding-bottom: 50px;
}
.storie-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    justify-content: center;
    gap: 19px;
    padding: 100px 110px;
    margin: 0 auto;
}
.stori-1{
    border-radius: 16px;
    position: relative;
    width: 100%;
    height: 39.41rem;
    background: rgb(255, 255, 255);
    align-items: center;
}
.stori-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);

    width: 100%;
    width: 39.56rem;
    height: 38.9rem;
    align-items: center;
    gap: 5px;

}

#s-pic1{
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    margin-top: -20px;
    margin-left: 30px;
    padding: 14px 20px;
}
.s-pic2{
    border-radius: 47.93px;
    background: rgb(149, 178, 38);
    margin-top: -20px;
    margin-left: 30px;
    padding: 14px 16px;
}
#s-pic3{
    border-radius: 47.93px;
    background: rgb(93, 88, 240);
    margin-top: -20px;
    margin-left: 30px;
    padding: 14px 16px;
}
.stori-box-head{
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 1.45rem;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: 0%;
    text-align: left;
    width: 402.49px;
    height: 69.98px;
    padding: 0 40px;
    margin-top: 0px;
    font: bold;
}

.grid-head{
    padding-left: 0px; 
    width: 12.37rem;
    height: 2.99rem;
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 15.34px;
    font-weight: 700;
    line-height: 28.76px;
    text-align: left;
    padding: 0 40px;
    margin-top: 0px;
    font:bold
}
.story-box-p{
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
    padding: 0 40px;
    width: 26rem;
    height: 4.73rem;
}
.grid-story2-box{
    border-radius: 16px;
    background: rgb(255, 255, 255);
    position: relative;
    width: 19rem;
    height: 18.85rem;
}
.stori{
    border-radius: 16px 16px 0px 0px;
    width: 100%;
    background: rgb(217, 217, 217);
}
.centering{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding-bottom: 40px;
}
.grid-story2-box:nth-child(n+5) {
    display: none; /* Hide extra images beyond the 6th one */
}
/*footer*/
.footer-sec{
    justify-content: space-between;
    padding: 6.25rem 17.5rem 6.25rem 6.86rem;
    align-items: center;
    
}
#foot{
    flex-direction: column;
   color: #ffffff;
}
.footer-left{
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.footer-head{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 2.61rem;
    font-weight: 700;
    line-height: 39.51px;
    letter-spacing: 0%;
    text-align: left;
    width: 12.88rem;
    height: 5rem;
}
.left-p{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.56rem;
    letter-spacing: 0%;
    text-align: left;
    width: 24.94rem;
    height: 6.25rem;
    margin-top: 0px;
}
.footer{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.white{
    color: rgb(255,255,255);
    text-align: left;
}
.footer-nav{
    padding: 0;
    list-style-position: inside; 
}
.footer-nav li{

    text-align: left;
    margin-left: 0;
   
}
.logo-div{
    margin-top: 0px;
    padding-top: 0px;
}
.social-logo{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: -60px;
    padding-top: 0px;
}
/*responsive media query*/
@media screen and (max-width:576px) {
    .nav-links,
    .arrow,
    .brand,
    .btn-primary,
    .stori-1 {
        display: none;
    }
   
    .menu-btn {
        display: block; 
        border: none;
        background-color: rgb(255, 255, 255);
        color: rgb(17, 17, 17);
        font-size: 30px;
    }
    .navbar{
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0 0;
        
        width: 358px;
        height: 46px;
    }
    .img-icon{
        width: 52px;
        height: 45px;
        margin-left: -1px;
        padding-left: 0px;
    }
    .menu-line{
        display: block; 
        border: none;
        box-sizing: border-box;
        border: 0.5px solid rgb(254, 163, 1);
    }
    .banner{
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        margin: 0 auto;
        padding-top: 15px;
    }
    .hero-pic{
        align-items: center;
    }
    .banner-img {
        max-width: 90%; /* Optional: Adjusts image width for smaller screens */
        margin: 0 auto; /*   border: 1px solid firebrick;*/
        margin-left: 0px;
       
      
    }
    .banner-content{
        width: 357px;
        height: 255px;
      
        align-items: center;
        margin-top: 18px;
    }
    .banner-head{
        font-family: Quicksand;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0%;
        text-align: center;
        width: 357px;
        height: 120px;
        margin-top: 5px;
    }
    .banner-p{
        color: rgb(17, 17, 17);
        font-family: Quicksand;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: center;
        width: 357px;
        height: 54px;
        margin-top: 0px;
    }
    #btn{
        display: block; 
        color: rgb(255, 255, 255);
        font-family: Quicksand;
        font-size: 14px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: center;
        border-radius: 8px;
        padding: 8px 15px;
        margin-left: 35%;
      
    }
    .curriculam-cards{
        flex-direction: column;
        width: 90%;
        margin-top: 20px;
    }
    .curriculam-card{
        padding: 36px 28px 36px 28px;
    }
    .curriculam-title{
        color: rgb(0, 0, 0);
        font-family: Quicksand;
        font-size: 26px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0%;
        text-align: center;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .stories{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .storie-container{
       position: relative;
        width: 84%;
        height:661.39px;
        padding-top: 0px;
        padding-left: 45px;
        padding-right: 30px;
        gap: 11.313209533691406;   
        margin:0px;
        justify-content: center;
        align-items: center;
    }
    .stori-2 {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        grid-template-rows: repeat(3, 1fr); /* 3 rows */   
        grid-auto-rows: auto; /* Ensures rows adjust dynamically */
        row-gap: 15px; 
        column-gap: 5px;
        width: 100%;
        justify-content: center;     
       /* height: 768.89px;*/
       height: auto; /* Remove fixed height */
       padding-bottom: 10px;
       margin: 0 auto;
       gap: 10px;
      
    }

    .grid-story2-box {
        display: block; /* Ensure all items are visible */
        border-radius: 9.53px;
        background: rgb(255, 255, 255);
        position: relative;
        width: 10.81rem;
        height: 11.22rem;
        grid-auto-rows: auto;
        row-gap: 0px;
        padding-top: 0px;
    }

    .grid-story2-box:nth-child(n+5) {
        display: block;
    }
    .grid-story2-box:nth-child(n+7) {
        display: none; /* Hide extra images beyond the 6th one */
    }
    
    .grid-head{
        color: rgb(0, 0, 0);
        font-family: Quicksand;
        font-size: 0.571rem;
        font-weight: 700;
        line-height: 17.12px;
        text-align: center;
        padding: 0 0px;
        height: 28.54px;
        position: absolute;
        width: 117.92px;
        padding-left: 15px;
        font: bold;
    }
  
    .stori{
        border-radius: 9.53px 9.53px 0px 0px;
        width: 100%;
        background: rgb(217, 217, 217);
    }
    .s-pic2{
        position: relative; 
        display: block;
        border-radius: 24.54px;
        background: rgb(149, 178, 38);
        margin-top: -15px;
        margin-left: 18px;
        padding: 5.00px 10.42px 5.00px 10.42px;
        font-family: Raleway;
        font-size: 9.13px;
        font-weight: 500;
    }
    #s-pic3{
        position: relative;
        display: block;
        border-radius: 28.54px;
        background: rgb(93, 88, 240);
        margin-top: -15px;
        margin-left: 18px;
        padding: 5.00px 12.42px 5.00px 12.42px;
        font-family: Raleway;
        font-size: 9.13px;
    }
    .centering{
        display: flex;
        justify-content: center;
        margin-top: -109px;
        padding-bottom: 0px;
    } 
    .black{
        font-family: Quicksand;
        display: inline-block; 
        background-color: rgb(17, 17, 17);
        gap: 10;
        
        font-size: 16px;
        padding: 6px 24px 6px 24px;
    }
    .footer-sec{
        flex-direction: column;
    }
    .left-all{
        margin-left: 170px;
       
    }
    .icon-footer {
         width: 62px;
        height: 70px;
    }
    .footer-left{
        gap: 5px;
        width: 250.16px;
        justify-content: flex-start;
        padding-left: 21px;
        height: 69.23px;
        align-items: center;
    }
    .footer-head{ 
        width: 172px;
        height: 67px;
        font-size: 33.73px;
        line-height: 33.5px;
        text-align: left;
    }
    .left-p{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        width: 357px;
        height: 80px;
        padding-left: 17px;
        padding-top: 10px;
    }
    .footer-middle{
        margin-left: -32px;
        margin-top: 0px;
        padding-top:0px ;
        width: 129px;
        height: 188.02px;
        overflow: hidden;
    }
    .footer{
        font-size: 20.35px;
        font-weight: 600;
        line-height: 25px;
        text-align: left;
        width: 129px;
        height: 25px;
        margin-top: 5px;
    }
    .logo-div{
        display: block;
        margin-top: 90px;
    }
    .social-logo{
        font-size: 22.04px;
        line-height: 22.04px;
        width: 147.9px;
        height: 22.04px;
        text-align: left;
    }
    .last-item{
        display: flex;
        flex-direction: row;
        gap: 5px;
        width: 167.09px;
        height: 33.91px;
    }
}